In [89]:
import torch, pandas
import matplotlib.pyplot as plt

In [93]:
data = pandas.read_csv("data/emotions.csv")
data.head()

,mean_0_a,mean_1_a,mean_2_a,mean_3_a,mean_4_a,mean_d_0_a,mean_d_1_a,mean_d_2_a,mean_d_3_a,mean_d_4_a,...,fft_741_b,fft_742_b,fft_743_b,fft_744_b,fft_745_b,fft_746_b,fft_747_b,fft_748_b,fft_749_b,label
0,4.62,30.3,-356.0,15.6,26.3,1.070,0.411,-15.70,2.06,3.15,...,23.5,20.3,20.3,23.5,-215.0,280.00,-162.00,-162.00,280.00,NEGATIVE
1,28.80,33.1,32.0,25.8,22.8,6.550,1.680,2.88,3.83,-4.82,...,-23.3,-21.8,-21.8,-23.3,182.0,2.57,-31.60,-31.60,2.57,NEUTRAL
2,8.90,29.4,-416.0,16.7,23.7,79.900,3.360,90.20,89.90,2.03,...,462.0,-233.0,-233.0,462.0,-267.0,281.00,-148.00,-148.00,281.00,POSITIVE
3,14.90,31.6,-143.0,19.8,24.3,-0.584,-0.284,8.82,2.30,-1.97,...,299.0,-243.0,-243.0,299.0,132.0,-12.40,9.53,9.53,-12.40,POSITIVE
4,28.30,31.3,45.2,27.3,24.5,34.800,-5.790,3.06,41.40,5.52,...,12.0,38.1,38.1,12.0,119.0,-17.60,23.90,23.90,-17.60,NEUTRAL

In [ ]:
print(data.shape)
data.describe()

In [ ]:
for (i, col) in enumerate(data.columns):
    print(i, col)

In [ ]:
plt.figure(figsize=(10, 20))
plt.plot(data.columns[:-1], data.iloc[0, :-1])

In [ ]:
# get sorted column by maximum value in each column in descending order
max_cols = data.iloc[:, :-1].max().sort_values(ascending=False).index

for (i, column) in enumerate(max_cols[:10]):
    print(i, column)
    print(data.iloc[0, data.columns==column])

In [ ]:
data.drop(list(data.filter(regex="moments|correlate", axis=1)), inplace = True, axis = 1)
data

In [ ]:
plt.figure(figsize=(10, 20))
plt.plot(data.columns[data.columns.str.contains("mean")], data.iloc[0, data.columns[data.columns.str.contains("mean")]])

In [ ]:
for (i, column) in enumerate(max_cols[10:60]):
    print(i, column)
    print(data.iloc[0, data.columns==column])

In [90]:
data.shape

(2132, 2549)

In [98]:
data = data[data["label"]!="NEUTRAL"]
data["label"].value_counts()

NEGATIVE    708
POSITIVE    708
Name: label, dtype: int64